* {
	box-sizing: border-box;
}


table {
	border-collapse: collapse;
	min-width: 330px;
}

td,
th {
	padding: 5px;
}

th {
	font-weight: 500;
	border-bottom: 1px solid
} 


caption {
	font-weight: bold;
	margin: 0.3em 0;
}

.data-container {
	margin-top: 0;
	font-size: 1.1em;
}

.data-container table {
	margin: 3em auto;
}

.data-container table:first-child {
	margin: 0 auto;
}

.data-container tbody {
	background-color: rgba(128, 128, 128, 0.3);
}

.data-container tr td:hover {
	background-color: lightgreen;
}