* {
	box-sizing: border-box;
}


table {
	border-collapse: collapse;
}

td,
th {
	padding: 5px;
}

th {
	font-weight: 500;
	border-bottom: 1px solid
} 

caption {
	font-weight: bold;
	margin: 0.3em 0;
}

.data-container {
	font-size: 1.2em;
}

.data-container table {
	margin: 3em auto;